<link rel="stylesheet" href="./css/home.css">
<div class="parallax">
    <div class="hangryHead">
        <h1 class="header">HANGRY</h1>
    </div>
    <div class="login row">
        <div class="col-md-6 text-center">
            <div class="loginBlock text-center">
                <div class="loginInput">
                    <p class="email"> Email: <br/> <input class="input" type="text" ng-model="user.email" id="userLoginValue" /></p> <br />
                    <p class="password"> Password: </br> <input class="input" type="password" ng-model="user.password" id="userPasswordValue" /></p>
                    <br />
                    <div class="text-center text-center">
                        <button class="btn btn-primary btn-success" ng-click="login()">Sign In</button>
                        <button class="btn btn-primary btn-success"><a ui-sref="register">Sign Up</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4 pic text-right">
                <img src="../images/fork.png" id="fork">
            </div>
            <div class="col-md-4 pic text-right">
                <img src="../images/hat.png" id="hat">
            </div>
            <div class="col-md-4 pic text-right">
                <img src="https://i.pinimg.com/originals/ae/cc/84/aecc849a13648cbd773cef883cbd1eda.gif" class="img-rounded" id="cookingGif">
            </div>
        </div>
    </div>
    <div class="login row">
        <div class="col-md-6 loginDiv">
            <div class="hangryBox">
                <h2 class="hangryh2">HANGRY</h2>
                <h3 class="hangryh3">(han-gree) adj.</h3>
                <p class="hangry">a state of anger caused by lack of food; hunger causing a negative change in emotional state.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../images/logo.png" id="logo">
        </div>
    </div>
    <div class="login row">
        <div class="col-md-6 loginDiv" >
            <h2 class="last">COOKING</h2>
            <h2 class="last">MADE</h2>
            <h2 class="last">SIMPLE.</h2>
        </div>
        <div class="col-md-6 picRow">
            <div class="col-md-4 pic text-right">
                <img src="../images/2.jpg" class="img-rounded" id="one">
            </div>
            <div class="col-md-4 pic text-right">
                <img src="../images/1.jpg" class="img-rounded" id="two">
            </div>
            <div class="col-md-4 pic text-right">
                <img src="../images/3.jpg" class="img-rounded" id="three">
            </div>
        </div>
    </div>
</div>

</div>